# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
*.venv
pip-log.txt
pip-delete-this-directory.txt

# IDE & Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs & Debug files
logs/
*.log
debug.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Git & Dependency Management
.git/
*.lock
requirements.txt~

# Compiled Cython files
*.c
*.so
*.o
*.pyd

# Docker & Kubernetes
docker-compose.override.yml
.envrc

# Homebrew (Mac package manager)
Cellar/
Caskroom/